<p id="notice"><%= notice %></p>

<h1><%= t('view.Tasks') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('view.Title') %></th>
      <th><%= t('view.Content') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= link_to t('view.Show'), task %></td>
        <td><%= link_to t('view.Edit'), edit_task_path(task) %></td>
        <td><%= link_to t('view.Destroy'), task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('view.New_Task'), new_task_path %>
