<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('view.Title') %>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('view.Content') %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('view.Deadline') %></strong>
  <%= @task.deadline %>
</p>

<%= link_to t('view.Edit'), edit_task_path(@task) %> |
<%= link_to t('view.Back'), tasks_path %>
