
<p>
  <strong><%= t('view.Title') %>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('view.Content') %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('view.Deadline') %></strong>
  <%= @task.deadline %>
</p>

<p>
  <strong><%= t('view.Status') %></strong>
  <%= @task.status %>
</p>

<p>
  <strong><%= t('view.Priority') %></strong>
  <%= @task.priority %>
</p>

<p>
  <strong><%= t('view.created_at') %></strong>
  <%= @task.created_at.strftime("%Y-%m-%d %H:%M") %>
</p>

<%= link_to t('view.Edit'), edit_task_path(@task) %> |
<%= link_to t('view.list_page'), tasks_path %>
