<h1><%= @user.name %>さんのページ</h1>
<p>メールアドレス: <%= @user.email %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div class="table-responsive-sm">
  <div class="m-2 p-5">
  <th><%= t('view.task_count') %></th>
  <%= current_user.tasks.count %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= t('view.User') %></th>
          <th scope = "col" ><%= t('view.Title') %></th>
          <th scope = "col"><%= t('view.Content')%></th>
          <th scope = "col" ><%= link_to t('view.Deadline'), tasks_path(sort_deadline: "true") %></th>
          <th scope = "col"><%= t('view.Status')%></th>
          <th scope = "col"><%= t('view.created_at')%></th>
          <th scope = "col" ><%= link_to t('view.Priority'), tasks_path(sort_priority: "true") %></th>
          <th colspan="3"></th>
        </tr>    
      </thead>

      <tbody>
        <% current_user.tasks.each do |task| %>
          <tr class = "task_row">
            <td><%= task.user.name %></td>
            <td><%= task.title %></td>
            <td><%= task.content %></td>
            <td><%= task.deadline %></td>
            <td><%= task.status %></td>
            <td><%= task.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= task.priority %></td>
            <td><button type="button" class="btn btn-outline-primary"><%= link_to t('view.Show'), task %></button></td>
            <td><button type="button" class="btn btn-outline-success"><%= link_to t('view.Edit'), edit_task_path(task.id) %></button></td>
            <td><button type="button" class="btn btn-outline-danger"><%= link_to t('view.Destroy'), task, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to t('view.Edit'), edit_user_path(@user) %> |
<%= link_to t('view.list_page'), tasks_path %>
